extends layout

block content
  h1= title
  p Welcome to #{title}
  
  h2 cURL
  p 
    | Simply curl the `/graph` path with any of the optional parameters.

  h3 Options
  ul 
    li days: Number of days before the current day to start collecting data (x axis)
    li height: Number of rows to allow for y axis
    li country: Target country name or code
    li disableCases: Remove total case data from results
    li disableRecovered: Remove recovered case data from results
    li disableDeaths: Remove deaths data from results
  h3 Examples
  ul
    li curl "http://covid-graph.csimmons.dev/graph"
    li curl "http://covid-graph.csimmons.dev/graph?days=10&height=10&disableCases=true&disableRecovered=true&country=Japan"

  h2 CLI
  p 
    |  Covid-Graph is built in node and available on github. Within the codebase is a covid-graph-cli command that can be used to generate the graph data locally. Visit the repo on 
    a(href="https://github.com/cgsimmons/covid-graph") github 
    | for more info.
